.extra-section {
    background-image: url('https://i.ibb.co/ng8w752/bg1.png');
    background-color: rgba(222, 184, 135, 0.753);
    background-position: center;
    background-size: cover;
    /* height: 650px; */
    background-repeat: no-repeat;
}

.extra-section-2 {
    background-image: url("https://i.ibb.co/QnXf4Td/bg3.png");
    background-color: rgba(222, 184, 135, 0.753);
    background-position: center;
    background-size: cover;
    /* height: 650px; */
    background-repeat: no-repeat;
}