.form-section {
    background-color: rgb(200, 214, 214);
    background-repeat: no-repeat;
    box-shadow: 3px 5px 7px 6px gray;
}

.booking-form input {
    margin-bottom: 34px;
    width: 400px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

.detail-section {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    box-shadow: 3px 5px 7px 5px gray;
    background-color: azure;
}

.spot-img {
    box-shadow: 5px 10px 5px gray;
    height: 500px;
    width: 80%;
}

.sub-btn {
    background-color: #e0ab1a;
}

.sub-btn value:hover {
    color: #D14141;
}

/* responsive for phone  */
@media screen and (max-width: 668px) {
    .spot-img {
        height: 300px;
    }

    .booking-form input {
        margin-bottom: 20px;
    }
}